{% load static %}
<footer class="bg-gray-100">
    <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
        <div class="footer_left mb-12 md:mb-0">
            <h2 class="mb-5 uppercase text-lg">About me</h2>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, voluptas.</p>
        </div>
        <div class="footer_right">
            <h2 class="mb-5 uppercase text-lg">Social Media</h2>
            <ul class="space-y-2">
                <li><a href="#" class="text-purple-500 hover:text-purple-800">Facebook</a></li>
                <li><a href="#" class="text-purple-500 hover:text-purple-800">Instagram</a></li>
                <li><a href="#" class="text-purple-500 hover:text-purple-800">Githup</a></li>
            </ul>
        </div>
        
    </div>
</footer>